extends layout


block content
 .control-group
  .col-md-7.col-cntr
    .panel.panel-default
     .panel-heading
      h1=username + "'s items"
     .panel-body 
      ul
        each val in items
          li=val.item		
      p
        | Add a new item
        form(action="/items/newitem", method="post")
          p
            | item: 
            input.form-control(type="text", name="item")
          p
            input.btn.btn-primary(type="submit", value="Add item")