extends layout

block content
 .control-group
   .col-md-7.col-cntr
     .panel.panel-default
       .panel-heading
         h1=username + "'s items"
       .panel-body 
         ul
           each val in items
             .list-group
               a.list-group-item( href="#" )
                 h4.list-group-item-heading=val.item				

//
 block content
    h1=username + "'s items"
    ul
        each val in items
          li=val.item		