extends layout

block content
  body.bkimg_l
  .container
    .Absolute-Center.is-Responsive.control-group
      .col-sm-5.col-cntr
        .panel
          .panel-heading
           h2 Log In
          .panel-body
            form.loginForm(action='/users/login', method="post")
             .form-group.input-group
               span.input-group-addon
                 i.fa.fa-user
               |             
               input.form-control(type='text', name='username', placeholder='Enter Username', required='')
             |           
             .form-group.input-group
               span.input-group-addon
                 i.fa.fa-lock
               |             
               input.form-control(type='password', name='password', placeholder='Enter Password', required='')
             |           
             .form-group
               input.btn.btn-primary(type='submit', value="Log in")
             |           
             .form-group.text-center
               a(href='#') Forgotten Password?
