extends layout

block content
 .control-group
   .col-md-7.col-cntr
     .panel.panel-default
       .panel-heading
         h1=username + "'s objects"
       .panel-body 
         ul
           each val in objects
             .list-group
               a.list-group-item( href= "http://localhost:3000/objects/username/" + _id )
                 h4.list-group-item-heading=val.item